locals {
  opennebula = {
    connection = {
      username = "ciber_xx"
      token    = "4b8cf5....................................................c1cb11"
    }
    vm = {
      template_id = "96"  # Ubuntu 22.04
      network_id  = "yy"  # ciber_xx
    }
  }
  kubernetes = {
    nodes = 2
  }
  ansible = {
    connect_to_public_ip = false
  }
}
