locals {
  opennebula = {
    vm = {
      template = "Debian 12 - 20250222"
      locked   = false
    }
    limits = {
      master = {
        cpu    = 2
        vcpu   = 4
        memory = 4 * 1024
        disk   = 16 * 1024
      }
      nodes = {
        cpu    = 1
        vcpu   = 2
        memory = 3 * 1024
        disk1  = 16 * 1024
        disk2  = 8 * 1024
      }
      haproxy = {
        cpu    = 1
        vcpu   = 2
        memory = 1 * 1024
        disk   = 8 * 1024
      }
    }
    networks = {
      public = {
        network_ip   = "172.20.x.x"
        network_size = "1"
      }
      cluster = {
        network_ip   = "172.20.x.x"
        network_size = "20"
      }
    }
  }
  ansible = {
    connect_to_public_ip = false
  }
  cloudflare = {
    zone_id = "5273...001b"
    subdomain  = "kubernetes"
    domain    = "example.org"
    cnames = concat([
      "rook",
      "grafana",
    ],
      flatten([
        for name in ["ciber"] : concat([
          for i in range(20) : format("%s-%02d", name, i+1)
        ], [format("%s-%02d", name, 99)])
      ])
    )
  }
}

variable "nodes" {
  description = "Número de nodos worker del cluster"
  default     = 3
}

variable "SSH_PUBLIC_KEY" {
  type        = string
  description = "Clave pública del usuario para inyectar en las máquinas OpenNebula"
}
