---
- name: Instalar el gestor de cluster Headlamp
  ansible.builtin.shell: |
    helm repo add headlamp https://kubernetes-sigs.github.io/headlamp/
    helm repo update
    helm upgrade --install kubernetes-headlamp headlamp/headlamp \
      --set image.tag=v{{ headlamp_version }} \
      --create-namespace --namespace headlamp

- name: Copiar el fichero para crear la cuenta de servicio
  ansible.builtin.copy:
    src: ./files/headlamp-service-account.yml
    dest: /tmp/headlamp-service-account.yml

- name: Crear la cuenta de servicio para Headlamp
  ansible.builtin.command: kubectl apply -f /tmp/headlamp-service-account.yml

- name: Copiar el fichero headlamp-ingress.yml
  ansible.builtin.copy:
    src: ./files/headlamp-ingress.yml
    dest: /tmp/headlamp-ingress.yml

- name: Crear el Ingress para Headlamp
  ansible.builtin.command: kubectl apply -f /tmp/headlamp-ingress.yml
