---
- name: Añadir el repositorio del Kubernetes Metrics Server
  ansible.builtin.shell: |
    helm repo add metrics-server https://kubernetes-sigs.github.io/metrics-server/
    helm repo update

- name: Instalar el servidor de métricas
  ansible.builtin.shell: |
    helm upgrade --install --create-namespace -n metrics-server \
      --set args={"--kubelet-insecure-tls"} \
      metrics-server metrics-server/metrics-server
