---
- name: Clonar el repositorio
  ansible.builtin.git:
    repo: https://github.com/rook/rook.git
    version: v{{ rook_version }}
    dest: /tmp/rook
    clone: true
    depth: 1
    update: true
    force: true

- name: Instalar Rook Ceph
  args:
    chdir: /tmp/rook/deploy/examples
  ansible.builtin.shell: |
    kubectl apply -f crds.yaml -f common.yaml -f csi-operator.yaml -f operator.yaml
    kubectl apply -f cluster.yaml
    kubectl apply -f toolbox.yaml
    kubectl apply -f csi/rbd/storageclass.yaml
    kubectl apply -f filesystem.yaml
    kubectl apply -f csi/cephfs/storageclass.yaml
    kubectl apply -f object.yaml
    kubectl apply -f storageclass-bucket-delete.yaml

- name: Definir el storage class por defecto
  ansible.builtin.shell: |
    kubectl patch storageclass rook-cephfs -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"true"}}}'

- name: Copiar el fichero dashboard-ingress.yml
  ansible.builtin.copy:
    src: ./files/dashboard-ingress.yml
    dest: /tmp/dashboard-ingress.yml

- name: Crear el Ingress para el Dashboard de rook
  ansible.builtin.command: kubectl apply -f /tmp/dashboard-ingress.yml

- name: Esperar a que rook arranque para continuar
  ansible.builtin.command: kubectl -n rook-ceph exec -i deploy/rook-ceph-tools -- ceph osd status
  register: ceph_status
  retries: 100
  delay: 10
  until: ceph_status.rc == 0
  failed_when: false
