- name: A침adir el repositorio de BIRD Internet Routing Daemon
  ansible.builtin.apt_repository:
    repo: ppa:cz.nic-labs/bird

- name: Instalar BIRD
  apt:
    name: "{{ packages }}"
    state: present
    update_cache: yes
  vars:
    packages:
      - bird

- name: Crear el fichero de configuraci칩n de BIRD
  shell: |
    cat > /etc/bird/bird.conf <<EOF
      router id {{ node_ip }};
      log syslog all;
    EOF

- name: Crear el fichero de configuraci칩n de BIRD
  shell: |
    cat >> /etc/bird/bird.conf <<EOF
      protocol bgp {
         local {{ node_ip }} as 65000;
         neighbor {{ item }} as 65000;
         direct;
         import filter {
            if ( net ~ [ 10.244.0.0/16{26,26} ] ) then accept;
         };
        export none;
      }
    EOF
  loop: "{{ ips }}"

- name: Crear el fichero de configuraci칩n de BIRD
  shell: |
    cat >> /etc/bird/bird.conf <<EOF
      protocol kernel {
         scan time 60;
         export all;
      }
      protocol device {
         scan time 60;
      }
    EOF

- name: Reiniciar el servicio BIRD
  service:
    name: bird
    daemon_reload: yes
    state: restarted
    enabled: yes
