---
kubernetes_version: "1.33"  # https://kubernetes.io/releases/
calico_version: "3.30.0"  # https://github.com/projectcalico/calico/releases
haproxy_version: "3.0"  # https://www.haproxy.org
haproxy_ingress_controller_version: "3.1.7" # https://github.com/haproxytech/kubernetes-ingress/releases
dashboard_version: "7.12.0"  # https://github.com/kubernetes/dashboard/releases
rook_version: "1.17.2"  # https://github.com/rook/rook/releases
portainer_version: "2.27.6"  # https://github.com/portainer/portainer/releases
