---
kubernetes_version: "1.35" # https://kubernetes.io/releases/
calico_version: "3.31.3" # https://github.com/projectcalico/calico/releases
haproxy_version: "3.2" # https://www.haproxy.org
haproxy_ingress_controller_version: "3.2.5" # https://github.com/haproxytech/kubernetes-ingress/releases
dashboard_version: "7.14.0" # https://github.com/kubernetes/dashboard/releases
headlamp_version: "0.40.0" # https://github.com/kubernetes-sigs/headlamp/releases
rook_version: "1.18.9" # https://github.com/rook/rook/releases
portainer_version: "2.38.0" # https://github.com/portainer/portainer/releases
